body{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100vh;
    justify-content:center;
    background:url(https://images.unsplash.com/photo-1499002238440-d264edd596ec?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHB1cnBsZSUyMGZsb3dlciUyMGZpZWxkfGVufDB8MHwwfHx8MA%3D%3D);
    background-repeat:no-repeat;
    background-size:cover;
    font-family:sans-serif;
}
h2{
    font-size:14px;
    color:white;
    text-transform:uppercase;
}
.time-container{
    display:flex;
    text-align:center;
    position:relative;
}
.time-container div{
    margin:5px;
}
.time-container span{
   display:flex;
   background-color:slateblue;
   opacity:0.8;
   justify-content:center;
   align-items:center;
   width:100px;
   height:80px;
   color:white;
   font-size:35px;
}
.time-container .text{
    height:30px;
    font-size:13px;
    background-color:darkblue;
    opacity:0.8;
}
.time-container #ampm{
    position:absolute;
    bottom:5px;
    height:50px;
    width:80px;
    background-color:green;
}